<!DOCTYPE html>
<html>
<head>
	<title>Web Interface</title>
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
    // window.onload=function(){
    //   var submitBtn = document.getElementById("form");
    //   var path = window.location.pathname;
    //   //console.log(window.location)
    //   path = path.substring(6,path.length);
    //   //console.log(path);
    //   submitBtn.action = "/upload/"+path;
    // }

  </script>
</head>
<body>
	<form method="POST" action="/upload/{{id}}" id="form" enctype="multipart/form-data">
	  <input type=file name=file>
	  <input type=submit value=Upload>
	</form>
</body>
</html>
